<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="logo-container">
      <mat-icon class="logo-icon">diamond</mat-icon>
      <h2 class="logo-text">AL MOHAMADIA</h2>
    </div>
    
    <mat-nav-list>
      @for (item of getFilteredMenuItems(); track item.route) {
        <a mat-list-item 
           [routerLink]="item.route" 
           [class.active]="isActive(item.route)"
           class="nav-item">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.labelKey | t }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="top-toolbar">
      <app-gold-ticker></app-gold-ticker>
      
      <span class="spacer"></span>
      
      <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
        <mat-icon
          [matBadge]="(unreadCount$ | async) ?? 0"
          [matBadgeHidden]="((unreadCount$ | async) ?? 0) === 0"
          matBadgeColor="warn">notifications</mat-icon>
      </button>
      
      <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
        <mat-icon>account_circle</mat-icon>
        <span class="username">{{ username }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content-wrapper scrollbar-custom">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="openProfile()">
    <mat-icon>person</mat-icon>
    <span>{{ 'menu.profile' | t }}</span>
  </button>
  <button mat-menu-item (click)="openSettings()">
    <mat-icon>settings</mat-icon>
    <span>{{ 'menu.settings' | t }}</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>{{ 'menu.logout' | t }}</span>
  </button>
</mat-menu>

<mat-menu #notificationMenu="matMenu">
  <button mat-menu-item (click)="markAllNotificationsRead()">
    <mat-icon>done_all</mat-icon>
    <span>{{ 'common.update' | t }}</span>
  </button>

  <mat-divider></mat-divider>

  @for (n of ((notifications$ | async) ?? []); track n.id) {
    <button mat-menu-item (click)="onNotificationClick(n)">
      <mat-icon>{{ n.read ? 'notifications' : 'notifications_active' }}</mat-icon>
      <span>{{ n.messageKey | t }}</span>
    </button>
  }

  @if (((notifications$ | async) ?? []).length === 0) {
    <button mat-menu-item disabled>
      <mat-icon>inbox</mat-icon>
      <span>-</span>
    </button>
  }
</mat-menu>
